<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="header-nav">
    <nav>
      <a href="/home" style="color: white;">Home</a> |
      <a href="/api/products" style="color: white;">Products</a> |
      <a href="/api/category" style="color: white;">Categories</a> |
      <a href="/orders" style="color: white;">Orders</a> |
      <a href="/profile" style="color: white;">Profile</a>
    </nav>
  </div>
  </header>
  <main>
