<%- include('partials/header') %>

  <h2>Category Details</h2>

  <% if (categories.length> 0) { %>
    <ul>
      <% categories.forEach(category=> { %>
        <li>
            <strong>name:</strong>
            <%= category.name %><br>
                <strong>Description</strong>
                <%= category.description %><br>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
      <p>No products available.</p>
      <% } %>

        <%- include('partials/footer') %>