/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Form container */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Form headings */
h3 {
  height: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #103b69;
  text-align: center;
}

/* Form fields */
form div {
  margin-bottom: 15px;

}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 0.9em;
  display: none;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #d1d0d0;
  border-radius: 4px;
}

/* Button styling */
button[type="submit"] {
  background-color: #757975;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #103b69;
}